.wrapper-timer {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}


.wrapper-timer input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-right: 8px;
}


.wrapper-timer input:hover {
  border: 1px solid #000;
}

.wrapper-timer input:focus {
  border: 1px solid #4e75ff;
}


.wrapper-timer input:disabled {
  border: 1px solid #808080;
  cursor: not-allowed;
}




.timer-btn-start {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--iris);
  border: none;
  cursor: pointer;
  align-self: flex-start;

  transition: background-color linear 250ms;
}

.timer-btn-start:hover {
  background-color: var(--ocean);
}

.timer-btn-start:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}



.timer-btn-stop {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  align-self: flex-start;

  transition: background-color linear 250ms;
}

.timer-btn-stop:hover {
  background-color: var(--dark-red);
}

.timer-btn-stop:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}





.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}